:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}

body {
    font-family: Piedra;
    margin: 0;
    margin-top: -40px;
    padding: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('img/bosque.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Donde ingresar tarea */
.round {
    color: blue;
    border-radius: 10px;
    font-family: Piedra;
    font-size: 20px;
    font-style: italic;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;    
}

*:first-letter {
    text-transform: capitalize;
}

.list {
    margin: 35px auto;
    padding: 10px;
    width: 100%;
    max-width: 350px;
    font-size: 20px;
}

/* Dia, mes, año y dia de la semana */
.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

/* Dia, mes y año (izquierda) */
.dateRight {
    display: flex;
    align-items: center;
}

/* Dia del mes solo */
#dateNumber {
    font-size: 50px;
}

/* Dia de la semana (lunes...) */
#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}

input:focus {
    outline: none;
}

/* Boton + */
.addTaskButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 35px;
    border-radius: 50%;
    font-size: 25px;
    background-color: var(--diabled);
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Las tareas */
.task {
    background-color: transparent;
    padding: 5px;
    margin-top: 5px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}

/* Las tareas */
.task > .task-text {
    flex-grow: 1;
}

.task > .delete-button {
    background: none;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}

.error {
    color: red;
    margin-top: 10px;
    display: none;
}

.draggable {
    user-select: none; /* Evita la selección del texto durante el arrastre */
    cursor: move;
}

